# JetBrains
.idea/
.vscode/

# C# build artifacts
/artifacts/
/bin/
/obj/

# C# packages
/nupkg/

# NuGet key
nuget.key

# Native libraries
/lib/

# Bindgen
/bindgen/ast/
/bindgen/x-ast/

# macOS
.DS_store